body {
  margin: 0;
  padding: 0;
  zoom: 80%;
  overflow: hidden;
}

.thepages { 
  visibility: hidden;

}

.page {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  position: fixed;
  background-color: white;
  z-index: 1002; 
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-link, .navbar-link {
  text-decoration: none;
  color: rgb(42, 32, 32);
}

.logo {
  height: 70px;
  width: 200px;
  position: absolute;
  top: 5px;
  left: 45%;
}

.nav-icons {
  position: absolute;
  display: flex;
  top: 27px;
  gap: 19%;
  font-family: sans-serif;
  right: 172px;
  font-size: 18px;
}

.nav-icons i {
  font-size: 19px;
  color: #262a32;
}

.category-link:hover {
  border-bottom: 2px solid #000;
}

.nav-links {
  position: absolute;
  display: flex;
  top: 33px;
  gap: 14%;
  font-family: sans-serif;
  left: 43px;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="text"] {
  display: block;
  width: 620px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
}

button[type="submit"] {
  display: block;
  width: 90%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 122px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="submit"] a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle button {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.toggle button.active {
  background-color: #4CAF50;
  color: #fff;
}

.about-container, .login-container {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
}

.logo img {
  position: absolute;
  height: 80px;
  width: auto;
  top: 10px;
  left: 40px;
}

.login {
  border: 2px solid white;
  padding: 12px;
}

.icons {
  cursor: pointer;
  position: absolute;
  top: 336px;
  left: 393px;
}

.fa-envelope {
  position: absolute;
  top: 291px;
  right: 100px;
}

.fa-user {
  position: absolute;
  top: 208px;
  right: 100px;
}

.fa-eye-slash, .fa-eye {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  display: none;
}

hr {
  width: 90%;
  border: 1px solid black;
  margin-left: 0px;
}

.password .email {
  margin-top: 33px;
}

.checkbox {
  position: absolute;
  top: 470px;
  background-color: transparent;
}

.have-account {
  margin-top: 33px;
  margin-left: 59px;
}

.login-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.terms-conditions {
  position: absolute;
  top: 455px;
  left: 77px;
}

.registration-title {
  margin-bottom: 53px;
  margin-left: 0px;
  font-size: 38px;
}

.container {
  position: absolute;
  top: 129px;
  padding: 42px;
  padding-right: 0;
  height: 608px;
  width: 609px;
  overflow: hidden;
}

.fa-bars-staggered {
  visibility: hidden;
}

.hide {
  display: none;
  visibility: visible;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.menu-links {
  visibility: hidden;
}


@media screen and (max-width: 700px) {
  button[type="submit"] {
    width: 85%;
}

hr {
    width: 75%;
    border: 1px solid black;
    margin-left: 0;
}

.outer-container {
    margin-left: 153px;
}

.nav-links {
    display: none;
}

.logo {
    position: absolute;
    left: 10px;
    top: 13px;
    height: 62px;
    width: 113px;
}

.fa-bars-staggered {
    position: absolute;
    top: 33px;
    right: 4%;
    visibility: visible;
    color: black;
    font-size: 25px;
}

.menu-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    font-weight: bold;
    padding: 50px 155px;
    background-color: rgb(220, 220, 211);
    margin-top: 22px;
    right: 5%;
    font-size: 22px;
    z-index: 1000;
    visibility: visible;
}

.hide {
    display: none;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.about-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    font-size: 15px;
}

.login-container {
    position: absolute;
    margin-left: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    font-size: 15px;
}

.thepages {
  position: absolute;
display: none;

flex-direction: column;
row-gap: 28px;
font-weight: bold;
background-color: rgb(220, 220, 211);
top: 11%;
    z-index: 1000000;
    padding: 30px;
    right: 288px;
    visibility: visible;
}
button[type="submit"] {
  display: block;
  width: 66%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 112px;
  overflow: hidden;
}

hr {
  width: 67%;
  border: 1px solid black;
  margin-left: 0px;
}

.fa-envelope {
  position: absolute;
  top: 43%;
  left: 420px;
}

.fa-eye-slash, .fa-eye {
  position: absolute;
  top: 60%;
  left: 375px;
  cursor: pointer;
}

.fa-user {
  position: absolute;
  top: 208px;
  left: 420px;
}

}
